<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms" />
    <profile>
      <properties>
        <add allowAnonymous="false" defaultValue="" name="Name" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="false" defaultValue="" name="HomeAddress" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="false" defaultValue="" name="PhoneNumber" readOnly="false" serializeAs="String" type="System.String" />
      </properties>
    </profile>
    <roleManager enabled="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <location path="Customer">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="owner" />
        <allow roles="user" />
      </authorization>
    </system.web>
  </location>
  <location path="Owner">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="user" />
        <allow roles="owner" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Server=.;Database=Bookshop;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    
  <add name="BookshopEntities" connectionString="metadata=res://*/App_Code.BookshopEntities.csdl|res://*/App_Code.BookshopEntities.ssdl|res://*/App_Code.BookshopEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Bookshop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

  </entityFramework>
</configuration>